.nav-conteiner {
    background-color: aqua;
    height: 100px;
    background-image: url(./img/pattern.png);
    background-size: 250px;
}

.size-25 {
    height: 50px;
    margin-top: 50px;
}

.giorno{
    background-color: chartreuse;
}

.ciao{
    background-color: crimson;
    
}
